<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>

<title>James McDermott &sect; {{ page.name }}</title>

<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<meta http-equiv="Content-Language" content="en" />
<meta name="language" content="en" />
<meta name="robots" content="all" />
<meta http-equiv="imagetoolbar" content="false" />

<meta name="author" content="jamesmichaelmcdermott@gmail.com" />
<meta name="Copyright" content="James McDermott" />
<meta name="Version" content="1.0" />

<meta name="description" content="James McDermott's GitHub home-page" />
<meta name="keywords" content="research, code" />
<meta name="viewport" content="width=960" />
<link href="/css/screen.css" rel="stylesheet" type="text/css" media="screen"/>
</head>
<body>

<div id="wrap">
	<div id="header">
		<p id="toplinks">

		</p>

		<h1><a href="/"><div id="logo"></div>jmmcd</a></h1>
		<div class="slogan">
		  &not;&not<a href="me.html" class="green">about me</a>
		  &not;&not<a href="research.html" class="green">research</a>
		  &not;&not<a href="music.html" class="green">music</a> 
		</div>

</div>
	
<h1><a href="/" rel="start" title="Home Page" accesskey="0">James McDermott</a></h1>

{{ content }}
  
<div id="footer_box">
    Last updated?
    Contact me at <span class="email"> j a m e s m i c h a e l m c d e r m o t t @ g m a i l  . c o m</span>
</div>

</body></html>
