<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>

<title>James McDermott &sect; {{ page.name }}</title>

<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<meta http-equiv="Content-Language" content="en" />
<meta name="language" content="en" />
<meta name="robots" content="all" />
<meta http-equiv="imagetoolbar" content="false" />

<meta name="author" content="jamesmichaelmcdermott@gmail.com" />
<meta name="Copyright" content="James McDermott" />
<meta name="Version" content="1.0" />

<meta name="description" content="James McDermott's GitHub home-page" />
<meta name="keywords" content="research, code" />
<meta name="viewport" content="width=500" />
<link href="/css/screen.css" rel="stylesheet" type="text/css" media="screen"/>
</head>
<body>

<div id="post">
{{ content }}
</div>

<div id="related">
  <h3>Possibly Related Posts</h3>
  <ul class="posts">
    {% for post in site.related_posts limit:3 %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>

